@import "../search/node_modules/bootstrap/scss/bootstrap.scss";
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
); 

%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: center;
}

%border {
  border: solid 2px black;
  border-radius: 10px;
  padding: 4px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color:black;
}
%border:hover{
  text-decoration: underline;
}

.logo {
  @extend %center;
  padding-top: 100px;
}
#img-logo{
  width: 400px;
}
.bar{
  @extend %center;
  padding-top: 50px;
  height: 60px;
  padding-bottom: 50px;
}

#hyperLinks {
  display: flex;
  justify-content: right;
  margin-right: 100px;
  font-family: serif;
  font-size: 16px;
  margin-top: 10px;

  //aLink
  .aLink{
    @extend %border;
  }


  //iLink
  .iLink{
    @extend %border;
    
    .icon-image{
      padding-bottom: 10px;
      color: grey;
      size-adjust: 13px;
    }
  }

}
.rub{
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 4px;
  font-size: 20px;
  color: grey;
}
.input-group-addon{
  color:#ff0000; 
  background-color: #ffffff;
  margin: auto;
  border: 1px  groove;
  border-radius: 10px;
  padding: 10px;
}
